ProjectWorkspace/AuctionSite/WebContent/wsdl/Bidding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="getProduct">
    <complexType>
     <sequence>
      <element name="Productid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductResponse">
    <complexType>
     <sequence>
      <element name="getProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStatus">
    <complexType>
     <sequence>
      <element name="AuctionID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStatusResponse">
    <complexType/>
   </element>
   <element name="getenddate">
    <complexType>
     <sequence>
      <element name="AuctionID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getenddateResponse">
    <complexType>
     <sequence>
      <element name="getenddateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="bidInsert">
    <complexType>
     <sequence>
      <element name="Auctionid" type="xsd:int"/>
      <element name="bidamount" type="xsd:int"/>
      <element name="loginuserid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="bidInsertResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getenddateResponse">

      <wsdl:part element="impl:getenddateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductResponse">

      <wsdl:part element="impl:getProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getenddateRequest">

      <wsdl:part element="impl:getenddate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStatusResponse">

      <wsdl:part element="impl:updateStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bidInsertRequest">

      <wsdl:part element="impl:bidInsert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="bidInsertResponse">

      <wsdl:part element="impl:bidInsertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductRequest">

      <wsdl:part element="impl:getProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStatusRequest">

      <wsdl:part element="impl:updateStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bidding">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProduct">

         <wsdl:input message="impl:getProductRequest" name="getProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductResponse" name="getProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStatus">

         <wsdl:input message="impl:updateStatusRequest" name="updateStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateStatusResponse" name="updateStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getenddate">

         <wsdl:input message="impl:getenddateRequest" name="getenddateRequest">

       </wsdl:input>

         <wsdl:output message="impl:getenddateResponse" name="getenddateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bidInsert">

         <wsdl:input message="impl:bidInsertRequest" name="bidInsertRequest">

       </wsdl:input>

         <wsdl:output message="impl:bidInsertResponse" name="bidInsertResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BiddingSoapBinding" type="impl:Bidding">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getenddate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getenddateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getenddateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="bidInsert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="bidInsertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="bidInsertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BiddingService">

      <wsdl:port binding="impl:BiddingSoapBinding" name="Bidding">

         <wsdlsoap:address location="http://localhost:8080/AuctionSite/services/Bidding"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
