ProjectWorkspace/AuctionSite/WebContent/wsdl/Product.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="setLatestProductID">
    <complexType/>
   </element>
   <element name="setLatestProductIDResponse">
    <complexType/>
   </element>
   <element name="getProducts">
    <complexType/>
   </element>
   <element name="getProductsResponse">
    <complexType>
     <sequence>
      <element name="getProductsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertProduct">
    <complexType>
     <sequence>
      <element name="UserID" type="xsd:string"/>
      <element name="Title" type="xsd:string"/>
      <element name="Description" type="xsd:string"/>
      <element name="Category" type="xsd:string"/>
      <element name="Location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertProductResponse">
    <complexType/>
   </element>
   <element name="getProductID">
    <complexType/>
   </element>
   <element name="getProductIDResponse">
    <complexType>
     <sequence>
      <element name="getProductIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setLatestProductIDRequest">

      <wsdl:part element="impl:setLatestProductID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductIDResponse">

      <wsdl:part element="impl:getProductIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertProductResponse">

      <wsdl:part element="impl:insertProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsRequest">

      <wsdl:part element="impl:getProducts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductIDRequest">

      <wsdl:part element="impl:getProductID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setLatestProductIDResponse">

      <wsdl:part element="impl:setLatestProductIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductsResponse">

      <wsdl:part element="impl:getProductsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertProductRequest">

      <wsdl:part element="impl:insertProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Product">

      <wsdl:operation name="setLatestProductID">

         <wsdl:input message="impl:setLatestProductIDRequest" name="setLatestProductIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:setLatestProductIDResponse" name="setLatestProductIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProducts">

         <wsdl:input message="impl:getProductsRequest" name="getProductsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductsResponse" name="getProductsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertProduct">

         <wsdl:input message="impl:insertProductRequest" name="insertProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertProductResponse" name="insertProductResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductID">

         <wsdl:input message="impl:getProductIDRequest" name="getProductIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductIDResponse" name="getProductIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductSoapBinding" type="impl:Product">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setLatestProductID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setLatestProductIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setLatestProductIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProducts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProductID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductService">

      <wsdl:port binding="impl:ProductSoapBinding" name="Product">

         <wsdlsoap:address location="http://localhost:8080/AuctionSite/services/Product"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
